<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="dieula.player">

    <application
        android:allowBackup="true"
        android:icon="@drawable/player"
        android:label="Player"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="dieula.player.LoginActivity"></activity>
        <activity android:name="dieula.player.splashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="dieula.player.RegisterActivity"></activity>
    </application>

</manifest>